#root {
  text-align: left;
  width : 100vw;
}

.navbar>*{
  margin-left: 2vw;
  margin-right: 2vw;
}

.container-fluid>*{
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.App-logo{
  width: 2vw;
  height: 2vw;
  margin-right: 1vw;
}

.Login-logo{
  width: 2vw;
  height: 2vw;
}

div.row{
  margin: 0px !important;
}

#fav{
  color:red;
}

input[type="checkbox"][disabled]{
  opacity:1;
}

.checkbox-filter-not-hide label{
  opacity: 1 !important;
}

.checkbox-filter-hide label{
  opacity: 0 !important;
}

th{
  width:25%;
}